name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Gets semantic release info
      id: semantic_release_info
      uses: jossef/action-semantic-release-info@v2
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - uses: ncipollo/release-action@v1
      with:
        makeLatest: true
        body: ${{ steps.semantic_release_info.outputs.notes }}
